<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service station</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <img src="~/Content/logo.png" alt="Logo1" class="logo"/>
        <img src="~/Content/logo2.png" alt="Logo2" class="logo2"/>
    </header>
    <div class="sidenav">
        <button type="button" class="buttonSidenavMainManu" onclick="location.href='@Url.Action("MainMenu","Main")'">Main menu</button>
        <button type="button" class="buttonPricelist" onclick="location.href='@Url.Action("MainPricelist","Main")'">Pricelist</button>
        <button type="button" class="buttonInfo" onclick="location.href='@Url.Action("MainInfo","Main")'" >Info</button>
    </div>
    @RenderBody()
    <footer>
        <p>&copy; @DateTime.Now.Year - Ibexsoft</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
