@model SSAspNet.Model.PasCarServiceStation

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<page class="Page">
    <h2 align="center">New Order</h2>
    <h3 align="center">Passanger car</h3>

    @using (Html.BeginForm("NewOrderPasCar", "NewOrder", FormMethod.Post))
    {
    <table class="tableSS" align="center">

        <tr>
            <td>Car model</td>
            <td>@Html.TextBoxFor(model => model.ModelCar)</td>
        </tr>
        <tr>
            <td>Car number</td>
            <td>@Html.TextBoxFor(model => model.NumberCar)</td>
        </tr>
        <tr>
            <td></td>
            <td><span>Parameter selection:</span></td>
            <td>
                <span>
                    Detail condition:<br>
                    (to set value from 0 to 100%)
                </span>
            </td>
        </tr>
        <tr>
            <td>Car body</td>
            <td align="center">@Html.CheckBoxFor(model => model.CarBodyIsService)</td>
            <td>@Html.EditorFor(model => model.CarBodyCondition, new { htmlAttributes = new { @Value = "100", @min = "0", @max = "100", @step = "5" } } )</td>
        </tr>  
        <tr>
            <td>Car wheels</td>
            <td align="center">@Html.CheckBoxFor(model => model.CarWheelsIsService)</td>           
            <td>@Html.EditorFor(model => model.CarWheelsCondition, new { htmlAttributes = new { @Value = "100", @min = "0", @max = "100", @step = "5" } } )</td>
        <tr>
            <td>Car engine</td>
            <td align="center">@Html.CheckBoxFor(model => model.CarEngineIsService)</td>          
            <td>@Html.EditorFor(model => model.CarEngineCondition, new { htmlAttributes = new { @Value = "100", @min = "0", @max = "100", @step = "5" } } )</td>
        <tr>
            <td>Car brakes</td>
            <td align="center">@Html.CheckBoxFor(model => model.CarBrakesIsService)</td>            
            <td>@Html.EditorFor(model => model.CarBrakesCondition, new { htmlAttributes = new { @Value = "100", @min = "0", @max = "100", @step = "5" } } )</td>
        <tr>
            <td>Car undercarriage</td>
            <td align="center">@Html.CheckBoxFor(model => model.CarUndercarriageIsService)</td>            
            <td>@Html.EditorFor(model => model.CarUndercarriageCondition, new { htmlAttributes = new { @Value = "100", @min = "0", @max = "100", @step = "5" } } )</td>
        <tr>
            <td>Wheel balancing</td>
            <td align="center">@Html.CheckBoxFor(model => model.PasCarwheelBalancingIsService)</td>
            <td></td>
        </tr>

        <tr>
            <td><button type="button" class="buttonCancel" onclick="window.history.back();">Cancel</button></td>
            <td></td>
            <td><input type="submit" class="buttonOK" value="Submit" id="submitButton"/></td>
        </tr>
    </table>
    }
</page>

