@model SSAspNet.Model.TruckCarServiceStation

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<page class="Page">
    <h2 align="center">New Order</h2>
    <h3 align="center">Truck</h3>

    @using (Html.BeginForm("NewOrderTruck", "NewOrder", FormMethod.Post))
    {
        <table class="tableSS" align="center">

            <tr>
                <td>Car model</td>
                <td>@Html.TextBoxFor(m => m.ModelCar)</td>
            </tr>
            <tr>
                <td>Car number</td>
                <td>@Html.TextBoxFor(m => m.NumberCar)</td>
            </tr>
            <tr>
                <td></td>
                <td><span>Parameter selection:</span></td>
                <td>
                    <span>
                        Detail condition:<br>
                        (to set value from 0 to 100%)
                    </span>
                </td>               
            </tr>
            <tr>
                <td>Car body</td>
                <td align="center">@Html.CheckBoxFor(m => m.CarBodyIsService, false)</td>               
                <td>@Html.EditorFor(m => m.CarBodyCondition, new { htmlAttributes = new { @Value = "100", @min = "0", @max = "100", @step = "5" } } )</td>              
            </tr>
            <tr>
                <td>Car wheels</td>
                <td align="center">@Html.CheckBoxFor(m => m.CarWheelsIsService, false)</td>                
                <td>@Html.EditorFor(m => m.CarWheelsCondition, new { htmlAttributes = new { @Value = "100", @min = "0", @max = "100", @step = "5" } } )</td>               
            </tr>
            <tr>
                <td>Car engine</td>
                <td align="center">@Html.CheckBoxFor(m => m.CarEngineIsService, false)</td>                
                <td>@Html.EditorFor(m => m.CarEngineCondition, new { htmlAttributes = new { @Value = "100", @min = "0", @max = "100", @step = "5" } } )</td>               
            </tr>
            <tr>
                <td>Car brakes</td>
                <td align="center">@Html.CheckBoxFor(m => m.CarBrakesIsService, false)</td>                
                <td>@Html.EditorFor(m => m.CarBrakesCondition, new { htmlAttributes = new { @Value = "100", @min = "0", @max = "100", @step = "5" } } )</td>                
            </tr>
            <tr>
                <td>Car undercarriage</td>
                <td align="center">@Html.CheckBoxFor(m => m.CarUndercarriageIsService, false)</td>                
                <td>@Html.EditorFor(m => m.CarUndercarriageCondition, new { htmlAttributes = new { @Value = "100", @min = "0", @max = "100", @step = "5" } } )</td>                
            </tr>
            <tr>
                <td>Truck hydraulics</td>
                <td align="center">@Html.CheckBoxFor(m => m.TruckHydraulicsIsService, false)</td>               
                <td>@Html.EditorFor(m => m.TruckHydraulicsCondition, new { htmlAttributes = new { @Value = "100", @min = "0", @max = "100", @step = "5" } } )</td>                
            </tr>
            
            <tr>
                <td><button type="button" class="buttonCancel" onclick="window.history.back();">Cancel</button></td>
                <td></td>
                <td><input type="submit" class="buttonOK" value="Submit" /></td>
            </tr>
        </table>
    }
</page>