@model SSAspNet.Model.Order

@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<page class="Page">
    <h2 align="center">Order Result</h2>

    <table align="center">
        <tr>
            <td>Order Id:</td>
            <td>@Html.TextBoxFor(o => o.OrderId)</td>            
        </tr>
        <tr>
            <td>Car Model:</td>
            <td>@Html.TextBoxFor(o => o.ModelCar)</td>            
        </tr>
        <tr>
            <td>Car Number:</td>
            <td>@Html.TextBoxFor(o => o.NumberCar)</td>            
        </tr>
        <tr>
            <td>Total cost order:</td>
            <td>@Html.TextBoxFor(o => o.CostOrder)</td>            
        </tr>
        <tr>
            <td>Total condition car (from 0 to 100%)</td>
            <td>@Html.TextBoxFor(o => o.ConditionCar)</td>
        </tr>
        <tr>
            <td colspan="2" align="center"><button type="button" class="buttonOK" align="center" onclick="location.href='@Url.Action("MainMenu", "Main")'">OK</button></td>            
        </tr>
    </table>
</page>