@model SSAspNet.Model.Price    

@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<page class="Page">
    <h2 align="center">Pricelist</h2>    
    
    <table class="tablePricelist" align="center" >
        <tr>
            <th>Service</th>
            <th>Cost</th>
            <th></th>
        </tr>
        <tr>
            <td>Car body</td>
            <td>@Model.CarBody</td>
            <td>$</td>
        </tr>
        <tr>
            <td>Car Wheels</td>
            <td>@Model.CarWheels</td>
            <td>$</td>
        </tr>
        <tr>
            <td>Car Engine</td>
            <td>@Model.CarEngine</td>
            <td>$</td>
        </tr>
        <tr>
            <td>Car Brakes</td>
            <td>@Model.CarBrakes</td>
            <td>$</td>
        </tr>
        <tr>
            <td>Car Undercarriage</td>
            <td>@Model.CarUndercarriage</td>
            <td>$</td>
        </tr>
        <tr>
            <td>Bus Salon</td>
            <td>@Model.BusSalon</td>
            <td>$</td>
        </tr>
        <tr>
            <td>Bus Handsrails</td>
            <td>@Model.BusHandsrails</td>
            <td>$</td>
        </tr>
        <tr>
            <td>Bus Upholstery</td>
            <td>@Model.BusUpholstery</td>
            <td>$</td>
        </tr>
        <tr>
            <td>Wheel Balancing</td>
            <td>@Model.PasCarwheelBalancing</td>
            <td>$</td>
        </tr>
        <tr>
            <td>TruckHydraulics</td>
            <td>@Model.TruckHydraulics</td>
            <td>$</td>
        </tr>
        <tr>
            <td><button type="button" class="buttonCancel" onclick="window.history.back();">Cancel</button></td>            
            <td><button type="button" class="buttonOK" onclick="location.href='@Url.Action("MainPricelistEdit", "MainController")'"/>Edit</td>
        </tr>
    </table>                   
    
</page>
