@model SSAspNet.Model.Price

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<page class="Page">
    <h2 align="center">Pricelist</h2>

    @using (Html.BeginForm("Pricelist", "Main", FormMethod.Post))
    {
        <table class="tablePricelist" align="center">
            <tr>
                <th>Service</th>
                <th>Cost</th>
                <th></th>
            </tr>
            <tr>
                <td>Car body</td>
                <td>@Model.CarBody</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Car wheels</td>
                <td>@Model.CarWheels</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Car engine</td>
                <td>@Model.CarEngine</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Car brakes</td>
                <td>@Model.CarBrakes</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Car undercarriage</td>
                <td>@Model.CarUndercarriage</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Bus salon</td>
                <td>@Model.BusSalon</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Bus handsrails</td>
                <td>@Model.BusHandsrails</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Bus upholstery</td>
                <td>@Model.BusUpholstery</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Wheel balancing</td>
                <td>@Model.PasCarwheelBalancing</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Truck hydraulics</td>
                <td>@Model.TruckHydraulics</td>
                <td>$</td>
            </tr>
            <tr>
                <td><button type="button" class="buttonCancel" onclick="location.href='@Url.Action("MainMenu", "Main")'">Cancel</button></td>
                <td><button type="button" class="buttonOK" onclick="location.href='@Url.Action("PricelistEdit", "Main")'">Edit</button></td>
            </tr>
        </table>
    }
</page>