@model SSAspNet.Model.Price

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<page class="Page">
    <h2 align="center">Pricelist edit</h2>

    @using (Html.BeginForm("PricelistEdit", "Main", FormMethod.Post))
    {
        <table class="tablePricelist" align="center">
            <tr>
                <th>Service</th>
                <th>Cost</th>
                <th></th>
            </tr>
            <tr>
                <td>Car body</td>
                <td>@Html.TextBoxFor(price => price.CarBody)</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Car wheels</td>
                <td>@Html.TextBoxFor(price => price.CarWheels)</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Car engine</td>
                <td>@Html.TextBoxFor(price => price.CarEngine)</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Car brakes</td>
                <td>@Html.TextBoxFor(price => price.CarBrakes)</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Car undercarriage</td>
                <td>@Html.TextBoxFor(price => price.CarUndercarriage)</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Bus salon</td>
                <td>@Html.TextBoxFor(price => price.BusSalon)</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Bus handsrails</td>
                <td>@Html.TextBoxFor(price => price.BusHandsrails)</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Bus upholstery</td>
                <td>@Html.TextBoxFor(price => price.BusUpholstery)</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Wheel balancing</td>
                <td>@Html.TextBoxFor(price => price.PasCarwheelBalancing)</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Truck hydraulics</td>
                <td>@Html.TextBoxFor(price => price.TruckHydraulics)</td>
                <td>$</td>
            </tr>
            <tr>
                <td><button type="button" class="buttonCancel" onclick="location.href='@Url.Action("MainMenu", "Main")'">Cancel</button></td>
                <td><input type="submit" class="buttonOK" value="Save" id="price"/></td>
            </tr>
        </table>
    }
</page>